extend layout

block content
    .row
        .col-sm-3
            h2 This is about page title
            hr
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus, dicta ducimus ea eaque odit quam repellendus saepe similique veritatis.
        .col-sm-9
            h2 With its custom template
            hr
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi assumenda consectetur corporis incidunt inventore magnam maiores, minima mollitia nesciunt, nisi optio pariatur quaerat ratione tempora tempore totam ullam unde.
