extend layout
block content
            form(method='post' action='/new')
                fieldset
                    .form-group
                        label(for='pageurl') Page Url
                        input#pageurl.form-control(name='pageurl' type='text')
                    .form-group
                        label(for='pageurl') Page Name
                        input#pagename.form-control(name='pagename' type='text')
                    .form-group
                        label(for='pageurl') Page Content
                        input#pagecontent.form-control(name='pagecontent' type='text')
                    .form-group
                        button.btn.btn-primary(type='submit') Add
